{% extends "manage.html" %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">创建任务</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-left: 20px;margin-right: 20px; width: 80%">
                    <div class="input-group option">
                        <span class="input-group-addon option-tile">名称：</span>
                        <input id="case_name" type="text" class="form-control">
                    </div>
                    <div style="margin-top: 20px" class="input-group option">
                        <span class="input-group-addon option-tile">描述：</span>
                        <textarea id="result" class="form-control" rows="3" name=textarea></textarea>
                    </div>
                    <div style="margin-top: 20px" class="input-group option">
                        <span class="input-group-addon option-tile">用例：</span>
                        <div class="card" style="width: 50%">
                            <div class="card-body">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top:20px; float:right;" type="submit" class="btn btn-primary">创建</button>

                </div>

            </div>
        </div>

    </div>
</div>

<link href="https://cdn.bootcss.com/zTree.v3/3.5.39/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/1.4.2/jquery.js"></script>
<script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.all.js"></script>
<script text="text/javascript">
    var zTreeObj;
   // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
   var setting = {
            check: {
                enable: true,
                chkStyle: "checkbox"
            }
   };
   // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
   var zNodes = [
   {name:"项目1",
       open:true,
       children:[
      {name:"模块1",
            open:true,
            children:[
                {
                    id:1,
                    name:"用例1"
                },
                {
                    id:2,
                    name:"用例2"
                }
            ]},
      {name:"模块2"}
       ]
   },
   {name:"test2", open:true, children:[
      {name:"test2_1"}, {name:"test2_2"}]}
   ];
   $(document).ready(function(){
      zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
   });
</script>
{% endblock %}